html,
body {
  margin: 0;
  padding: 0;
}

.root {
  font-family: system-ui, sans-serif;
}

.time-grid {
    margin: 5vh 3vw 0 auto;
    width: 80vw;
    height: 80vh;
    --cell-height: 20px;
    --cell-width: 50px;
}

.aisb-topbar {
    padding-left: 30px;
    padding-right: 30px;
    background: var(--maroon);
    color: var(--white);
    display: flex;
    flex-direction: row;
}

.aisb-topbar > * {
    padding: 15px;
}

#sign-in {
    margin-left: auto;
    margin-top: 5px;
    padding: 15px;
}

#sign-in > * {
    padding: 10px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: var(--grey);
    border-radius: 50%;
    display: inline-block;
}

/* Create a drop shadow on all sides to create the effect of a floating card */
div.aisb-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dialog-background {
    background-color: black;
    position: absolute;
    margin-top: -50px;
    text-align: center;
    /*z-index: 998;*/
    height: 93.5%;
    width: 100%;
    opacity: 30%;
}

.dialog-contents {
    position: absolute;
    margin: 15% auto;
    left: 0;
    right: 0;
    width: 25%;
    height: 35%;
    background-color: #FFFFFF;
    z-index: 999;
}

.dialog-message-text {
    white-space: pre-line;
}

.add-course-button {
    float: right;
    margin-right: 5%;
}

.loading-wheel {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transform: scale(2.5);
}