#side-panel {
    position: absolute;
    margin-top: -5vh;
    margin-left: 0;
    height: 93.6vh;
    width: 45vw;
    z-index: 1;
    transition: margin-left 0.75s;
    background-color: white;
}

#course-selection-panel {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 20px;
}

#schedule-list-panel {
    height: 100%;
    display: flex;
}

#schedule-list {
    width: 100%;
}

#empty-schedule-message {
    position: relative;
    top: 40%;
    width: 75%;
    margin: auto;
    color: #80808080;
    font-size: 2vw;
}

#panel-expansion-button {
    height: 100%;
    width: 25px;
    margin-left: 1vw;
    background-color: var(--maroon);
}

#panel-expansion-button:hover {
    background-color: #300000;
}

#panel-expansion-button-icon {
    margin-top: 45vh;
    transform: rotate(180deg);
    color: white;
}

.side-panel-column {
    height: 100%;
}