#side-panel {
    position: absolute;
    margin-top: -5vh;
    margin-left: 0;
    height: 93.6vh;
    width: 45vw;
    z-index: 1;
    transition: margin-left 0.75s;
    /* Temporary styles */
    background-color: white;
    color: white;
}

#course-selection-panel {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 20px;
}

#schedule-list-panel {
    height: 100%;
}

#panel-expansion-button {
    height: 100%;
    width: 10%;
    margin-left: 1vw;
    background-color: var(--maroon);
}

#panel-expansion-button:hover {
    background-color: #300000;
}

#panel-expansion-button-icon {
    margin-top: 45vh;
    margin-left: 5px;
    transform: rotate(180deg);
}

.side-panel-column {
    height: 100%;
}